header {
  background-color: teal;
  color: #fff;
  padding: 10px;
}

header .container {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: block;
  padding: 5px;
}

nav a {
  display: block;
  font-size: 20px;
  color:#fff;
  text-decoration: none;
}
.navigation:hover {
  text-decoration: underline;
}
.navigation::first-letter {
  text-transform: uppercase;
}